<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" style="height: auto;">
    <div fxFlex="100" fxLayout="column">
        <fa-icon class="fa-user-circle-icon" [icon]="faUserCircle"></fa-icon>
        <span class="nav-username mat-h2" test="username">{{ (userInfo !== null) ? (userInfo.name | titlecase ) : "Profile" }}</span>
    </div>
</mat-toolbar>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px" style="padding: 24px 24px 10px 24px;" fxLayoutAlign="center center">
        <mat-card fxFlex="30" fxFlex.md="50" fxFlex.sm="70" fxFlex.xs="100">
            <mat-card-content>
            <div fxLayout="row">
                <div fxFlex="50">
                    <mat-list>
                        <mat-list-item class="mat-body-strong">Name</mat-list-item>
                        <mat-list-item class="mat-body-strong">E-mail</mat-list-item>
                    </mat-list>
                </div>
                <div fxFlex="50">
                    <mat-list>
                        <mat-list-item *ngIf="userInfo">{{ userInfo.name }}</mat-list-item>
                        <mat-list-item *ngIf="userInfo" style="margin-right: 24px;">{{userInfo.email }}</mat-list-item>
                    </mat-list>
                </div>
            </div>
            </mat-card-content>
        </mat-card>
</div>
<div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="center center">
    <button mat-button (click)="signOut()">
        <span>Sign out</span>
    </button> 
</div>