env/
node_modules/
.DS_Store
.now
__pycache__
local.log
browserstack.err
.env
# Intelij
.idea
backend/target/
# Sonarqube
.scannerwork
# Database
database/volumes/*
# test
/test/config
/test/results/
/test/log
/test/cypress/screenshots
/test/cypress/videos/
/test/browserstack.json