<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="left end">
    <div fxFill> 
    <table id="entries-table" mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let weeklyAverage">{{ weeklyAverage.year }}</td>
      </ng-container>
  
      <ng-container matColumnDef="week">
          <th mat-header-cell *matHeaderCellDef>Week</th>
          <td mat-cell *matCellDef="let weeklyAverage">{{weeklyAverage.week}}</td>
      </ng-container>

      <ng-container matColumnDef="weightAverage">
          <th mat-header-cell *matHeaderCellDef>Weight average</th>
          <td mat-cell *matCellDef="let weeklyAverage">{{ weeklyAverage.weightAverage}} kg</td>
      </ng-container>

      <ng-container matColumnDef="weightDifference">
        <th mat-header-cell *matHeaderCellDef>Weight difference</th>
        <td mat-cell *matCellDef="let weeklyAverage">{{ (weeklyAverage.weightDifference !== null) ? (weeklyAverage.weightDifference + ' kg') : "" }}</td>
    </ng-container>

    <ng-container matColumnDef="weightMeasurementCount">
      <th mat-header-cell *matHeaderCellDef>Measurements</th>
      <td mat-cell *matCellDef="let weeklyAverage">{{ weeklyAverage.weightMeasurementCount}}</td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  </div>
</div>