<form name="tdee-calculator" class="tdee-calculator" [formGroup]="logForm" #formDirective="ngForm">
    <mat-form-field>
        <mat-label>Weight (kg)</mat-label>
        <input id="weight-hb" matInput type="number" min="30" max="250" formControlName="weight" required>
        <mat-error *ngIf="!logForm.get('weight').hasError('weight')">Weight should be between 0 and 200 kg</mat-error>
    </mat-form-field>
</form>
<button mat-raised-button color="primary" id="send-log" class="nofocus" (click)="postLog()" [disabled]="!logForm.valid">Add log</button>
<ul *ngFor="let log of logs">
    <li>
        <span>Date: {{log.timestamp}}</span>
        <span>Weight: {{log.weight}}</span>
    </li>
</ul>