table {
    width: 100%;
  }
.mat-column-select {
  overflow: initial;
}
table th{
	top: 64px !important;  /* should be equal to the height of the mat-tool-bar header */
	position: sticky; 
	z-index: 100;
}