<!-- <div fxLayout="column">
    <form [formGroup]="columnFilterFormGroup">
        <mat-checkbox *ngFor="let columnDefinition of columnDefinitions;"  [formControlName]="columnDefinition.def">{{columnDefinition.label}}</mat-checkbox>
    </form>
</div> -->
<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="left end">
        <div fxFill> 
            <cdk-virtual-scroll-viewport itemSize="48" tvsItemSize [style.height.px]="tableBodyHeight" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="60" (scrolled)="onScrollDown()">
                    <table id="entries-table" mat-table [dataSource]="dataSource" multiTemplateDataRows>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let entry">
                            <button mat-icon-button (click)="expandedEntry = expandedEntry === entry ? null : entry ; toggleEntryState(entry.id)">
                                <mat-icon *ngIf="entry.expanded === true">expand_more</mat-icon>
                                <mat-icon *ngIf="entry.expanded === false">expand_less</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell class="entry-content" [class.hide]="entry.expanded" *matCellDef="let entry">{{ entry.date | date:'dd-MM-yyyy' }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef>Weight</th>
                        <td mat-cell class="entry-content" [class.hide]="entry.expanded" *matCellDef="let entry">{{entry.weight}} kg</td>
                    </ng-container>

                    <ng-container matColumnDef="note">
                        <th mat-header-cell *matHeaderCellDef>Note</th>
                        <td mat-cell class="entry-content" [class.hide]="entry.expanded" *matCellDef="let entry">{{ entry.note }}</td>
                        
                    </ng-container>

                      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let entry" [attr.colspan]="getDisplayedColumns().length">
                            <div class="entry-detail" [@detailExpand]="entry.expanded == true ? 'expanded' : 'collapsed'">
                                <mat-card style="margin: 18px 0px 18px 0px; width: 100%">
                                    <div fxLayout="row">
                                        <div fxLayout="column" fxFlex="20" style="width: 100%; font-size: 14px;" fxLayoutGap="10px">
                                            <mat-list style="padding-top: 0px;">
                                                <mat-list-item>Date</mat-list-item>
                                                <mat-list-item>Time</mat-list-item>
                                                <mat-list-item>Weight</mat-list-item>
                                                <mat-list-item>Note</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <div fxLayout="column" fxFill style="width: 100%; font-size: 14px;" fxLayoutGap="10px">
                                            <mat-list style="padding-top: 0px;">
                                                <mat-list-item>{{ entry.date | date:'dd-MM-yyyy' }}</mat-list-item>
                                                <mat-list-item>{{ entry.date | date:'HH:mm' }}</mat-list-item>
                                                <mat-list-item>{{entry.weight}} kg</mat-list-item>
                                                <mat-list-item>{{entry.note}}</mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 12px;">
                                        <div fxLayout="column">
                                            <button mat-menu-item (click)="deleteEntry(entry.id)" class="entry-detail-button">
                                                <mat-icon>delete</mat-icon>Delete
                                            </button>
                                        </div>
                                        <div fxLayout="column">
                                            <button mat-menu-item (click)="editEntry(entry.id, entry.weight, entry.date, entry.note)" class="entry-detail-button">
                                                <mat-icon>edit</mat-icon>Edit
                                            </button>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
                    <tr [class.detail-row-expanded]="entry.expanded === true" mat-row *matRowDef="let entry; columns: getDisplayedColumns();" class="table-row-hover entry-row"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>