table {
    width: 100%;
  }
.mat-column-select {
  overflow: initial;
}

.mat-column-custom{
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-date {
  flex: 0 0 20% !important;
  width: 20% !important;
}

.mat-column-weight {
  flex: 0 0 20% !important;
  width: 20% !important;
}

.mat-column-note {
  flex: 0 0 50% !important;
  width: 50% !important;
}

.mat-column-actions {
  flex: 0 0 15% !important;
  width: 15% !important;
}

tr.detail-row {
  background-color:rgba(0, 0, 0, 0.03);
  height: 0;
}

.entry-row td {
  border-bottom-width: 0;
}

.detail-row-expanded{
  background-color:rgba(0, 0, 0, 0.03);
}

.entry-detail {
  overflow: hidden;
  display: flex;
}

:host /deep/ .mat-list-item-content {
  font-size: 14px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
  height: 40px;
}

/* Hide content if expanded */
.entry-content{
  transition: color 0.25s;
}

.hide {
  color: rgba(0, 0, 0, 0) !important;
}


/* Expand icon */

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 29px;
}

.mat-column-actions{
  text-align: right;
}