<mat-toolbar  color="primary">
    <mat-toolbar-row>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span style="margin-left: 10px;">FullStackFit</span>
            <span class="example-spacer"></span>
            <button mat-icon-button color="foreground" (click)="open_bottom_sheet()" class="nofocus" aria-label="Share icon">
                    <mat-icon>share</mat-icon>
            </button>
    </mat-toolbar-row>
</mat-toolbar>