<div class="row">
        <div class="col">
                <form name="tdee-calculator" class="tdee-calculator" [formGroup]="tdee_calculator_form" #formDirective="ngForm">
                        <mat-form-field>
                                        <mat-label>Name</mat-label>
                                        <input id="name-hb" matInput type="text" formControlName="name" required>
                                        <mat-error *ngIf="!tdee_calculator_form.get('name').hasError('name')">Name should consist of at least 2 letters</mat-error>
                        </mat-form-field>
                        <mat-radio-group aria-label="Select an option" formControlName="gender" style="font-size: 14px;" required>
                                <mat-radio-button value="man">Man</mat-radio-button>
                                <mat-radio-button value="woman" style="margin-left: 15px;">Woman</mat-radio-button>
                                <!-- <mat-error *ngIf="!tdee_calculator_form.get('gender').hasError('gender')">Please specify your gender</mat-error> -->
                        </mat-radio-group>
                        <mat-form-field style="margin-top: 9px;">
                                <mat-label>Weight (kg)</mat-label>
                                <input id="weight-hb" matInput type="number" min="30" max="250" formControlName="weight" required>
                                <mat-error *ngIf="!tdee_calculator_form.get('length').hasError('length')">Weight should be between 30 and 200 kg</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                                <mat-label>Length (cm)</mat-label>
                                <input id="length-hb" matInput type="number" min="30" max="250" formControlName="length" required>
                                <mat-error *ngIf="!tdee_calculator_form.get('length').hasError('length')">Length should be between 35 and 225 cm</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                                <mat-label>Age (years)</mat-label>
                                <input matInput type="number" min="0" max="150" id="age-hb" formControlName="age" required>
                                <mat-error *ngIf="!tdee_calculator_form.get('age').hasError('age')">Age should be between 10 and 125 years</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                                <mat-label>Activity Level</mat-label>
                                <mat-select id="activitylevel-hb" formControlName="activitylevel" required>
                                        <mat-option value="Sedentary or light activity" id="activitylevel-1-hb">Sedentary or light activity</mat-option>
                                        <mat-option value="Active or moderately active">Active or moderately active</mat-option>
                                        <mat-option value="Vigorously active">Vigorously active</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="!tdee_calculator_form.get('age').hasError('age')">Please specify your activity level</mat-error> -->
                        </mat-form-field>
                        <mat-form-field>
                                <mat-label>Goal</mat-label>
                                <mat-select id="goal-hb" formControlName="goal" required>
                                        <!-- dont set values in here. set them in the ts component. If value = fat los set value is... -->
                                        <mat-option value="Fat loss">Fat loss</mat-option>
                                        <mat-option value="Maintenance" id="goal-2-hb">Maintenance</mat-option>
                                        <mat-option value="Muscle gain">Muscle gain</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="!tdee_calculator_form.get('age').hasError('age')">Please specify your goal</mat-error> -->
                        </mat-form-field>
                        <span matTooltip="Please enter your details" matTooltipPosition="above" [matTooltipDisabled]="tdee_calculator_form.valid">
                        </span>
                        
                </form>
                <button mat-raised-button color="primary" id="calculate-hb" class="nofocus" (click)="click_calculateTDEE()" [disabled]="!tdee_calculator_form.valid">Calculate TDEE</button>
                <button mat-raised-button color="basic" (click)="reset()" id="reset-hb" class="nofocus" style="margin-left: 15px;" matTooltip="Warning: this will reset all your input." matTooltipPosition="right">Reset</button>
        </div>
</div>