<mat-toolbar color="primary" fxLayout="column" class="footer">
    <mat-toolbar-row fxLayout="row">
        <div fxFlex="33">
            <a mat-stroked-button color="basic" target="_blank" href="https://github.com/bamaas/FullStackFit" class="footer-font-size button-version">Version: 0.1</a>
        </div>
        <div fxFlex="33" fxLayoutAlign="center center">
            <span class="footer-font-size">Made with</span>
            <button mat-icon-button color="accent" style="cursor: default;" class="nofocus" aria-label="Hearth icon">
                    <mat-icon color="accent">favorites</mat-icon>
            </button>
            <span class="footer-font-size" fxHide.xs="true">by Bas Maas</span>
        </div>
        <div fxFlex="33" fxLayoutAlign="end center">
            <button mat-button (click)="open_privacy_dialog()" class="footer-font-size">Privacy Statement</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>