<footer class="footer">
    <div class="row">
        <div class="col" style="text-align: left;">
        <span>Current version: 0.1</span>
        </div>
        <div class="col" style="text-align: center;">
            <span>Made with</span>
            <button mat-icon-button color="accent" style="cursor: default;" class="nofocus" aria-label="Hearth icon">
                    <mat-icon color="accent">favorites</mat-icon>
            </button>
            <span>by Bas Maas</span>
        </div>
        <div class="col" style="text-align: right;">
            <span (click)="open_privacy_dialog()" style="cursor: pointer;">Privacy Statement</span>
        </div>
    </div>
</footer>